@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
    font-family: 'Fira Code';
    background-color: black;
    color: white;
    font-size: 18px; 
    font-weight: 700;
}

.img {
    width: 35%;
    height: 100%;   
}

.social-icons {
    gap: 5px;
}

a{
    color: #03FFFF;
    text-decoration: none;
}

.nav-text {
    font-size: 28px;
    font-family: 'Major Mono Display', monospace;
    text-shadow: -15px 5px 20px #000;
    color: #ffff;
    text-shadow: 
      -1px 0px 0px #03FFFF, 
      1px 0px 0px #FF00FF
  }