@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Fira Code', monospace;
    background-color: black;
    color: white;
    font-size: 18px; 
    font-weight: 400;
}

.img {
    width: 35%;
    height: 100%;   
}

.social-icons {
    gap: 10px;
}

.color{
    color: #03FFFF;
}

.nav-text {
    font-size: 28px;
    font-family: 'Major Mono Display', monospace;
    text-shadow: -15px 5px 20px #000;
    color: #ffff;
    text-shadow: 
      -1px 0px 0px #03FFFF, 
      1px 0px 0px #FF00FF
  }