@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
* {
    font-family: -apple-system,BlinkMacSystemFont,sans-serif !important;
    font-size: 18px;
    font-weight: 500;
}

.font-bold {
    font-weight: 600;
}

.code-text{
    font-family: Fira Code !important;
}

.img {
    width: 35%;
    height: 100%;   
}

.social-icons {
    gap: 15px;
}

.text-decoration{
    color: #FF00FF;
    font-weight: 700;
}
.text-decoration:hover{
    color: #00ffff;
    font-weight: 700;
}

.pink{
    font-weight: 700;
    color: #FF00FF;
}

.nav-text {
    font-size: 28px;
  }